treechildren::-moz-tree-image(modules_sharethis_bookmarksite){
	list-style-image: url(/changeicons/small/share-on-website.png) ;
}
treechildren::-moz-tree-image(modules_sharethis_blogsite){
	list-style-image: url(/changeicons/small/share-on-blog.png) ;
}
treechildren::-moz-tree-image(modules_sharethis_internallink){
	list-style-image: url(/changeicons/small/share-special.png) ;
}
treechildren::-moz-tree-image(modules_sharethis_link){
	list-style-image: url(/changeicons/small/link.png);
}
treechildren::-moz-tree-image(modules_sharethis_site){
	list-style-image: url(/changeicons/small/link.png);
}
treechildren::-moz-tree-image(modules_sharethis_group){
	list-style-image: url(/changeicons/small/share-group.png);
}